includes:
	- vendor/phpstan/vendor/phpstan/phpstan-strict-rules/rules.neon
	- vendor/phpstan/vendor/thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon
parameters:
	root: %rootDir%/../..
	tmpDir: %rootDir%/var/cache
	excludes_analyse:
		- %root%/var/
	universalObjectCratesClasses:
		- Mockery\ExpectationInterface
		- Mockery\HigherOrderMessage
		- Nette\Utils\ArrayHash
		- Nette\Bridges\ApplicationLatte\Template
	autoload_directories:
		- %root%/tests
	fileExtensions:
		- php
		- phpt
	autoload_files:
		- %root%/vendor/autoload.php
		- %root%/tests/autoloadForPhpstan.php
	ignoreErrors:
		- '#Call to an undefined method Mockery\\ExpectationInterface\|Mockery\\HigherOrderMessage::(andReturn|with)\(\).#'
		- '#Call to an undefined method Mockery\\ExpectationInterface|Mockery\\ExpectsHigherOrderMessage::andReturn\(\).#'
		- '#Parameter \#(.*) \$(.*) of class App\\Models\\(.*) constructor expects (.*), Mockery\\MockInterface given.#'
		- '#Call to an undefined method Nette\\Utils\\Html::addClass\(\).#'
		- '#Variable \"(.*)\" is not in valid camel caps format (Squiz.NamingConventions.ValidVariableName.NotCamelCaps).#'
