includes:
	- vendor/coding-style-checkers/vendor/phpstan/phpstan-strict-rules/rules.neon
	- vendor/coding-style-checkers/vendor/thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon
	- vendor/coding-style-checkers/vendor/phpstan/phpstan-mockery/extension.neon
	- vendor/coding-style-checkers/vendor/phpstan/phpstan-nette/extension.neon
	- vendor/coding-style-checkers/vendor/phpstan/phpstan-nette/rules.neon
parameters:
	root: %rootDir%/../../../../../
	tmpDir: %rootDir%/var/cache2
	excludes_analyse:
		- %root%/var/
		- %root%/vendor/coding-style-checkers/
	universalObjectCratesClasses:
		- Mockery\ExpectationInterface
		- Mockery\HigherOrderMessage
		- Nette\Utils\ArrayHash
		- Nette\Bridges\ApplicationLatte\Template
		- Nette\Application\UI\ITemplate
	autoload_directories:
		- %root%/tests
	fileExtensions:
		- php
		- phpt
	autoload_files:
		- %root%/vendor/autoload.php
		- %root%/tests/autoloadForPhpstan.php
	ignoreErrors:
		- '#Only booleans are allowed in a negated boolean, int given.#'
