parameters:

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

tracy:
	strictMode: true
	maxLength: 999
	maxDepth: 10
	showLocation: true

session:
	expiration: 14 days


services:
	router: App\Router\RouterFactory::createRouter
	- App\Models\RpcDaemon(%daemon_url%, %daemon_port%)
	- App\Models\Filters\TemplateFilters()
	- App\Forms\ViewKeyFormFactory
	- App\Forms\FormFactory
	nette.latteFactory:
		setup:
			- addFilter(null,[App\Models\Filters\TemplateFilters(), 'loader'])
http:
	headers:
		X-Powered-By: CitiCash Nette
		Strict-Transport-Security: 'max-age=3600; includeSubDomains; preload'
		Content-Security-Policy: 'default-src https:'
		Referrer-Policy: 'no-referrer'
		Feature-Policy: 'none'
