parameters:

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

tracy:
	strictMode: true
	maxLength: 999
	maxDepth: 10
	showLocation: true

session:
	autoStart: true
	expiration: 14 days


services:
	router: App\Router\RouterFactory::createRouter
	- App\Models\RpcDaemon(%daemon_url%, %daemon_port%)
	- App\Models\Filters\TemplateFilters()
	- App\Forms\ViewKeyFormFactory
	- App\Forms\FormFactory
	nette.latteFactory:
		setup:
			- addFilter(null,[App\Models\Filters\TemplateFilters(), 'loader'])
http:
	headers:
		Access-Control-Allow-Methods: 'GET, POST, OPTIONS'
		Access-Control-Allow-Origin: '*'
		Feature-Policy: 'none'
		Referrer-Policy: 'no-referrer'
		Strict-Transport-Security: 'max-age=2592000; includeSubDomains; preload'
		X-Content-Type-Options: 'nosniff'
		X-Frame-Options: 'DENY'
		X-Powered-By: CitiCash Nette
		X-XSS-Protection: '1; mode=block'
