.list{
	padding: 1rem 0;
	width: 100%;
	font-size: @small-font-size;
	.list__row{
		display: flex;
		padding: 0.4rem 1rem;
	}
	.list__item{
	}
	.list__item--20w{
		width: 20%;
	}
	.list__item--80w{
		width: 80%;
	}
}