.list{
	padding: 1rem;
	width: 100%;
	font-size: @small-font-size;
	background: @white;
	overflow-x: auto;
	.list__row{
		display: flex;
		padding: 0.4rem 0;
	}
	.list__item--20w{
		width: 20%;
	}
	.list__item--80w{
		width: 80%;
	}
}