.pagination{
    margin: 0;
    padding: 0;
    background: @white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    &__item{
        list-style-type: none;
        margin: 2rem 0.5rem 1rem 0.5rem;
        font-size: @small-font-size;
        &:last-child{
            display: none;
        }
    }
    &__line{
        margin: 2rem 0.4rem 1rem 0.4rem;
    }
    &__link{
        color: @blue;
    }
}
@media only screen and (max-width: 1075px){
    .pagination{
        &__item{
            margin-left: 0;
            margin-right: 0;
            width: 20%;
            text-align: center;
        }
        &__line{
            display: none;
        }
    }
}
@media @--micro-viewport{
    .pagination{
        &__item{
            width: 33%;
        }
    }
}