.pagination{
    margin: 0;
    background: @white;
    display: flex;
    justify-content: center;
    .pagination__item{
        list-style-type: none;
        margin: 2rem 1rem 1rem 1rem;
        font-size: @small-font-size;
    }
    .pagination__item:last-child{
        display: none;
    }
    .pagination__link{
        color: @blue;
    }
}