.section{
	width: 100%;
	border-radius: @small-radius;
	border: 1px solid @light-grey;
	margin: 0 auto 3rem auto;
	overflow: hidden;
	.section__name{
		width: 100%;
		background: @white;
		padding: 0.3rem 1rem;
		color: @blue;

	}
	.section__name--alone{
		border-bottom: 1px solid @light-grey;
	}
	.section__heading{
		font-weight: 300;
		text-align: left;
		font-size: 1rem;
	}
}
.section--search{
	margin: 0 auto 2rem auto;
}
.search{
	display: flex;
	.search__input{
		flex: 1;
		border: none;
		padding: 0.6rem 1rem;
		font-size: @small-font-size;
	}
	.search__button{
		border: none;
		border-left: 1px solid @light-grey;
		color: @white;
		background: @red;
		padding: 0.6rem 1rem;
		cursor: pointer;
	}
}