.table{
    width: 100%;
    text-align: left;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    &__header{
        background: @white;
        border-bottom: 1px solid @light-grey;
        .table__cell{
            color: @black;
            font-size: 0.8rem;
            padding: 0.8rem 1rem 0.8rem 1rem;
        }
    }
    &__row{
        display: table-row;
        &::nth-child(2n){
            background: @white;
            border-bottom: 1px solid @light-blue;
            border-top: 1px solid @light-blue;
        }
    }
    &__cell{
        padding: 0.8rem 1rem;
        font-size: 0.8rem;
        color: @dark-grey;
    }
    &__link{
        color: @blue;
    }
}

@media @--desktop-viewport{
    .table{
        &__row{
            &:hover{
                background: @light-hover-blue;
            }
            &::nth-child(2n):hover{
                background: @hover-white;
            }
        }
    }
}

@media @--mobile-landscape-viewport{
    .table{
        &__cell--resp-hidden{
            display: none;
        }
    }
}