{block content}
<h1 n:block=title> Transaction not found </h1>

<p>
	You can search by blk height, blk hash, tx hash, tx payment id, 
	encrypted payment id, tx public key, input key image, 
	stealth address, and datetime
</p>