<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{$basePath}/build/css/styles.css?v=1.6">
	<base href="{$baseUri}/"/>
</head>

<body>
<div class="header">
	<div class="header__container">
		<div class="header__item">
			<a href="{$baseUri}/">
				<img class="header__img" src="{$baseUri}/images/layout/cc-logo-explorer.svg">
			</a>
		</div>
		<div class="header__item">
			<a href="http://www.citicash.loc/?lang=cs" target="_blank" class="header__link">
				Citicash.loc
			</a>
		</div>
	</div>
</div>

<div class="body">
	{include content}
</div>

<div class="footer">
	<p class="text"> Copyright © {$now->format('Y')} CitiCash.io </p>
</div>
</body>
</html>
