@font-face {
    font-family: League_Spartan;
    src: url('/fonts/LeageSpartan/leaguespartan-bold2.eot');
    src: url('/fonts/LeageSpartan/leaguespartan-bold2.eot?#iefix') format('embedded-opentype'),
         url('/fonts/LeageSpartan/leaguespartan-bold2.otf') format('opentype'),
         url('/fonts/LeageSpartan/leaguespartan-bold2.ttf') format('truetype');
}
@font-face {
    font-family: Montserrat;
    src: url('/fonts/montserratRegular/montserrat-regular2.eot');
    src: url('/fonts/montserratRegular/montserrat-regular2.eot?#iefix') format('embedded-opentype'),
         url('/fonts/montserratRegular/montserrat-regular2.otf') format('opentype'),
         url('/fonts/montserratRegular/montserrat-regular2.ttf') format('truetype');
}
@font-face {
    font-family: Montserrat;
    src: url('/fonts/montserratBold/montserrat-bold2.eot');
    src: url('/fonts/montserratBold/montserrat-bold2.eot?#iefix') format('embedded-opentype'),
         url('/fonts/montserratBold/montserrat-bold2.otf') format('opentype'),
         url('/fonts/montserratBold/montserrat-bold2.ttf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: Montserrat;
    src: url('/fonts/montserratLight/montserrat-light2.eot');
    src: url('/fonts/montserratLight/montserrat-light2.eot?#iefix') format('embedded-opentype'),
         url('/fonts/montserratLight/montserrat-light2.otf') format('opentype'),
         url('/fonts/montserratLight/montserrat-light2.ttf') format('truetype');
    font-weight: 300;
}
