@font-face {
    font-family: League_Spartan;
    src: url('/fonts/LeagueSpartan-Bold.otf');
}
@font-face {
    font-family: Montserrat;
    src: url('/fonts/Montserrat-Regular.otf');
}
@font-face {
    font-family: Montserrat;
    src: url('/fonts/Montserrat-bold.otf');
    font-weight: bold;
}
@font-face {
    font-family: Montserrat;
    src: url('/fonts/Montserrat-Light.otf');
    font-weight: 300;
}