body, input, button, input,h3{
    font-family: Montserrat;
}
html, body{
    min-height: 100vh;
    font-size: 15px;
    letter-spacing: 0.5px;
    overflow-x: hidden;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed; 
    overflow-y: scroll;
    top: 0; left: 0; right: 0; bottom: 0;
}
.body{
    width: 100%;
    margin: 0 auto;
    padding: 9rem 0 0 0;
    max-width: @max-content-width;
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
}
input, body{
    font-size: @small-font-size;
}
.text{
    font-size: @small-font-size;
}
@media @--narrow-viewport{
    .body{
        padding-left: 2rem;
        padding-right: 2rem; 
    }
}