<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="bitcoins, transactions, blocks, address, block chain, best block, mining difficulty">
	<meta name="description" content="Citicash Blockchain Explorer is a web-tool that provides detailed information about blocks, addresses, and transactions">
	<meta property="fb:pages" content="2048684788752973">
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://www.citicash.io">
	<meta property="og:title" content="Citicash.io">
	<meta property="og:description" content="Citicash - Money on my way">
	<meta property="og:image" content="/cch_ogimage_600x315.png">
	<meta property="og:image:width" content="600">
	<meta property="og:image:height" content="315">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@citicash.io">
	<meta name="twitter:creator" content="@citicash.io">
	<meta name="twitter:title" content="Citicash.io">
	<meta name="twitter:description" content="Citicash - Money on my way">
	<meta name="twitter:image" content="/cch_ogimage_600x315.png">

	<link rel="stylesheet" href="{$basePath}/build/css/styles.css?v={$fileMtimeCss}">
	<link rel="apple-touch-icon" sizes="180x180" href="/cch_icon_180x180.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/cch_icon_32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/cch_icon_16x16.png">
	<link rel="shortcut icon" href="/favicon.ico">

	<base href="{$baseUri}/"/>
	<title>{ifset title}{include title|stripHtml} | {/ifset}</title>
</head>

<body>
<div class="header">
	<div class="header__container">
		<div class="header__item">
			<a n:href="Homepage:default">
				<img class="header__img" src="{$baseUri}/images/layout/cc-logo-explorer.svg">
			</a>
		</div>
		<div class="header__item">
			<a href="{$linkToCitiCash}" target="_blank" class="header__link">
				{$linkToCitiCashShort}
			</a>
		</div>
	</div>
</div>

<div class="body">
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

	<div class="section section--search">
		<form n:name="searchForm" class="search">
			<input n:name="search" class="search__input"
								   placeholder="block height, block hash, transaction hash">
			<button n:name="send" class="search__button">
				<span class="pictogram pictogram--search"> Odeslat </span>
			</button>
		</form>
	</div>

	{include content}
</div>

<div class="footer">
	<div class="footer__container">
		<p class="text"> Copyright © {$now->format('Y')} CitiCash.io </p>
	</div>
</div>
</body>
</html>
