<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<title>{ifset title}{include title|stripHtml} | {/ifset}</title>
</head>

<body>
<div class="container-fluid">

	<h1><a n:href="Homepage:">CitiCash blockchain explorer</a></h1>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

	<div class="jumbotron">
		Difficulty: {$info->getDifficulty()}
		Height: {$info->getHeight()}
	</div>

	{include content}
</div>
</body>
</html>
